/* Hide modal initially */
#coupon-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* Das ist direkt im js code handleCouponData: modal.style.display = 'block'; */
#coupon-modal.visible {
  display: flex;
}

/* Modal content styling */
#coupon-modal .modal-content {
  width: 250px;
  max-width: 90%;
  padding: 15px;
  background: #333;
  color: #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

/* Close button styling */
#coupon-modal .close {
  cursor: pointer;
  font-size: 20px;
  color: white;
  position: absolute;
  right: 10px;
  top: 5px;
}


  