.content-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px; 
  }
  
.cs-chart {
    max-width: 800px; 
    width: 100%;
    height: 400px; 
    display: flex;
    justify-content: center; /* Zentriert horizontal */
    align-items: flex-start; /* Verschiebt es nach oben */
    position: relative;
    margin-top: 20px; /* Falls nötig, Abstand nach oben anpassen */
}

  
  #CS_ChartCanvas {
    width: 100% !important;
    height: 100% !important;
  }
  
  
  .parameters-container {
    width: 100%;
    text-align: center;
  }