/* Style for the scrollable dropdown area */
.dropdown-wrapper {
    max-height: 300px; /* Adjust this value as needed */
    width: 210px;
    overflow-y: auto;  /* Enables vertical scrolling */
    padding-right: 10px; /* Optional: for better scrollbar visibility */
    border: 1px solid black; /* Black border added */
    border-radius: 5px; /* Optional: to round the corners */
}

/* Additional styles remain unchanged */
.select-dropdown {
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
    width: 200px;
}

.select-dropdown option {
    padding: 5px; /* Adjust as needed */
}
  .reset-FiltersButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex; /* Changed to inline-flex for alignment */
    align-items: center; /* Align items in center */
    justify-content: center; /* Center content horizontally */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
  }
  
  .reset-FiltersButton svg {
    margin-right: 8px; /* Space between icon and text */
  }
  
  .reset-FiltersButton:hover {
    background-color: rgb(70, 69, 69);
    color: white;
  }
  
  
   