# -----------------------
# Node / Electron
# -----------------------
node_modules/
dist/
out/
.env
*.log

# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# -----------------------
# IDEs / Editor
# -----------------------
.idea/
.vscode/

# -----------------------
# Build / Packaging (PyInstaller etc.)
# -----------------------
build/
*.spec
dist.zip

# -----------------------
# Project-specific folders
# -----------------------
large_directory/
zzzApp/
bin/
zzzArchiv/
files/
temp_folder/

# -----------------------
# Files
# -----------------------
logfile.txt

# archives
_archive/

