/* for scenario setting */
.warning-container {
  display: none;          /* Standardmäßig komplett weg */
  align-items: center;
  gap: 5px;
  margin-left: 15px;
  flex-shrink: 0;
  white-space: nowrap;
}

.warning-text {
  font-family: var(--font-family);
  font-size: 13px;
  color: var(--text-primary);
}

.warning-light {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
}
